body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

button {
  font-size: 2rem;
}

h1,
h2,
strong {
  margin-bottom: 0;
  color: #333;
}

a {
  color: #e81c4f;
}

p {
  margin: 0;
}